/* bricolage-grotesque-<uniquifier> 
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100; */
  
* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'DM Mono', sans-serif;
  overflow-x: hidden;
  background-color: #232323;
  scroll-behavior: smooth;
}

.headernav {
  background-color: #FEFFF6;
}

.mobilelinks, .desktoplinks {
  text-decoration: none;
  list-style-type: none;
  color: black;
}

.sidebar {
  display: none;
  z-index: 999;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
} 

.sidebar li:first-child {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.mobilelinks {
  font-size: 2rem;
}

.mobilelinks:active {
  font-weight: 900;
  color: #EC8117;
}

.desktopnav {
  
  border-bottom: solid 1px #EBEDD9 ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
}

.desktoplinks {
  display: none;
}

.hero-section img {
  display: none;
}

.hero-section {
  background-color: #FEFFF6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 6rem 0 6rem 0;
}

.hero-text span {
  color: #101010;
  font-family: "Bricolage Grotesque";
  font-size: 42px;
  font-style: normal;
  font-weight: 800;
  }

.hero-text h1 {
  color: #585854;
  font-family: "Bricolage Grotesque";
  font-size: 42px;
  font-style: normal;
  font-weight: 800;
  text-wrap: nowrap;
}

.contact-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: visible;
}


.contact-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  overflow: visible;
}


.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #585854;
  border-radius: 95px;
  padding: .4rem;
  overflow: visible;
}

.circle-container:hover {
  transform: translateY(-5px);
  overflow-y: visible;
}

.play-btn-container {
  background-color: #232323;
  margin-left: 2rem;
}

.overtext {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  margin-top: 2rem;
  background-color: #232323;
  color: #FEFFF6;
  width: 100%;
}

.overtext p {
  max-width: 430px;
}

.view-text {
  font-weight: 500;
}

.arrow-container {
  display: none;
}


.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FEFFF6;
  padding: 1.5rem 1rem;
}

.project-title-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1.5rem;
  border-bottom: solid 1px #EBEDD9;
}

.project-title-container h2 {
  color: #232323;
  font-family: "Bricolage Grotesque";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96%;
  flex-direction: column;
}

.cardcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0;
  width: 100%;
  overflow: visible;
  min-width: 390px;
}

.cardimg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 400px;
  border-radius: 32px;
  overflow: hidden;
  box-shadow: 3.381px 2.704px 5.071px 0px #D6D7D5;
}

.cardimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transform: scale(1.5);
}

.nsaimg img {
  transform: scale(1.2)
}

.cardinfo { 
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.cardinfo h3 {
  color: #000;
  font-family: "Bricolage Grotesque";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cardtabcontainer ul {
  display: flex;
  gap: 1rem;
}

.tabs {
  border: solid 1px;
  padding: .2rem .5rem .2rem .5rem;
  border-radius: 8px;
}

.breaker {
  width: 100%;
  height: 30px;
  border-radius: 0px 0px 40px 40px;
  background: #FEFFF6;
  box-shadow: 0px 27px 15.2px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.wecaresection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 6rem;
  padding: 0 1rem 0 1rem;
}

.wecaretitle-container h2{
  color: #EC8117;
  font-family: "DM Mono";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
}

.wecaretitle-container h1 {
  color: #FFF;
  font-family: "Bricolage Grotesque";
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.wecaretitle-container svg 
{
  padding-top: .3rem;
  padding-right: .3rem;
}

.wecaretitle-container p {
  color: #FEFFF6;
  font-family: "DM Mono";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 1.5rem;
}

.seeservices-container a{
  display: flex;
  width: 100%;
  justify-content:flex-start;
  align-items: center;
  color: white;
  margin-top: 1.5rem;
  text-decoration: none;
}
.seeservices-container {
  display: flex;
  width: 100%;
  justify-content:flex-start;
  align-items: center;
  color: white;
  margin-top: 1.5rem;
  text-decoration: none;
}

.expertise-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.expertise-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1.5rem 0;
  border-top: solid 1px;
  border-bottom: solid 1px;
  width: 96%;
}


.expertise-title-container h2 {
  font-family: "Bricolage Grotesque";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.expertise-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  gap: 1.5rem;
  margin-top: 2rem;
}


.exp-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  background: url(../images/card-svg-grey.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 450px;
  border-radius: 2rem;
}


.exp-webdesign-card {
  background: url(../images/card-svg-purp.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 450px;
  border-radius: 2rem;
}

.exp-card-header {
  display: flex;
  width: 92%;
  justify-content: space-between;
}

.exp-card-header h2 {
  color: #B0EA34;
  font-family: "Bricolage Grotesque";
  font-size: 41.621px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.webdesign-card-header h2 {
  color: white;
}

.exp-card-img {
  width: 92%;
  height: 219.377px;
  border-radius: 1.3rem;
  overflow: hidden;
}

.exp-card-info {
  width: 92%;
  margin: 1rem 0;
  color: white;
  border-top: solid 1px;
  padding: 1rem 0 0 0;
}



.review-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  margin-top: 1rem;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  width: 100vw;
  margin-bottom: 6rem;
}



.reviewcards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  flex-direction: column;
  border-radius: 2rem;
  background-color: #3C3C3C;
  min-height: 350px;
  min-width: 300px; /* Adjust width to ensure full view of cards */
  transform: translateX(900px);
  scroll-snap-align: start; /* Snap card to start when scrolled */
}

.review-icon-container {
  width: 100%;
}

.review {
  color: white;
}

.reviewer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.leavereview p{
  color: #8D8D8D;
text-align: center;
font-family: "DM Mono";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.creativeteam-section {
  border-radius: 40px;
  background-color: #FEFFF6;
  box-shadow: 0px 0px 13px 16px rgba(0, 0, 0, 0.39);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 0 1rem;
}

.creativeteam-section h2 {
  color: #000;
  font-family: "Bricolage Grotesque";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 1.5rem;
}

.tmcard-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 2rem;
  width: 90%;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 13.6px 0px #D6D7D5;
}




.tmimg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.tmname {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: .5rem;
}

.tmname h3 {
  font-family: "Bricolage Grotesque";
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 1rem;
}

.tminfo {
  width: 80%;
  margin: 1.5rem 0;
}

.tmcontact {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  width: 100%;
  border-top: solid 1px black;
}

.tmcontainer {
  padding: 0 1rem;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form-container {
  align-items: center;
  text-align: center;
  width: 90%;
  height: 100vh;
  padding: 6rem 1rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.contact-form-container h1 {
  font-size: 3rem;
  color: white;
  font-family: "Bricolage Grotesque";
  font-weight: 700;
}

.contact-form-container h1 .highlight {
  color: #EC8117;
}

.contact-form {
  margin-top: 20px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 1rem;
}

.form-group input, .form-group textarea {
  width: 48%;
  padding: 10px;
  border: none;
  background-color: #33333300;
  color: white;
  border-bottom: 2px solid #555;
  outline: none;
  font-size: 1rem;
  font-family: 'DM Mono', sans-serif;
}

.form-group textarea {
  width: 100%;
  height: 100px;
  resize: none;
}

input::placeholder, textarea::placeholder {
  color: #888;
}

.submit-button {
  padding: 12px 25px;
  background-color: transparent;
  border: solid 1px #EC8117;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  margin-top: 2rem;
  font-family: 'DM Mono', sans-serif;
}

.cardbottom{
  margin-bottom: 2rem
}

.submit-button:hover {
  background-color: #f56900;
}

footer {
  background: #1E1E1E;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
  gap: 2rem;
}

footer ul {
  list-style-type: none;
}

footer a, footer li {
  text-decoration: none;
  color: #9D9D9D;
} 

.address-list {
  font-weight: 800;
}

footer a:hover {
  font-weight: 800;
}

.banner-content h2 {
  margin-left: 8rem;
}

footer h4 {
  font-size: 1.5rem;
  color: white;
}

footer a:hover {
  color: #cecece;
}

.resume {
  text-decoration: underline;
  font-style: italic;
}

.link-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.round-links {
border-radius: 200px;
border: 0.5px solid #606060;
display: flex;
justify-content: center;
align-items: center;
padding: 1rem;
}

.round-links a {
  height: 20px;
}

.copyright {
  display: inline-flex;
  padding: 0px 4px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #FFF;
  color: white;
}

.copycontainer {
  display: flex;
  gap: .5rem;
  color: white;
}

.container-two {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer li {
  margin-top: .5rem;
}


@media only screen and (min-width: 800px) {
  .menubtn {
    display: none;
  }

  .desktoplinks {
    display: flex;
    padding: .3rem 1rem;
    border-radius: 6px;
    cursor: pointer;
  }

  .desktoplinks:hover {
    background-color: #000000;
    color: white;
  }

  .desktopnav {
    border: solid 1px #d1d3c1;
    justify-content: flex-end;
    gap: 0;
    width: fit-content;
    padding: .2rem;
    border-radius: 8px;
  }

  .headernav {
    border-bottom: solid 1px #d1d3c1;
    height: 80px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    padding-right: 1rem;
  }

  .desktoplogo {
    justify-self: flex-start;
    position: absolute;
    left: 0;
    top: 0;
  }

  .hero-section img {
    display: flex;
    z-index: 99;
    position: absolute;
    top: 300px;
  }

}